@font-face {
    font-family: DS-DIGIB;
    src: url(DS-DIGIB.TTF);
}

body {
    background-size: cover;
    background-image: url("space_11.jpg");
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("Gradient.png");
    background-size: cover;
    outline: none;
    opacity: 0.9;
    width: 100%;
    height: 25px; 
    margin: 10 0 15 0;
    padding: 5px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 35px;
    background: #b4b4b4;
    cursor: pointer;
}

.slidecontainer{
    font-family: DS-DIGIB;
    font-size: 20px;
    width: 50%;
    background: #02001a;
    border: solid 3px grey;
    border-radius: 10px;
    margin: auto;
	margin-left: 30%;
    padding: 10px;
}

.slidecontainer p{
    text-align: center;
    color: white;
    padding: 10px;
    background: black;
    border: solid 2px grey;
}

.NumLvl {
    background: #4f0000;
    font-family: DS-DIGIB;
    font-size : 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 8px;
    margin-left: 45%;
}

.commandes {
	font-family: DS-DIGIB;
	width: 25%;
	float : left;
	top : 0;
	background: #02001a;
    border: solid 3px grey;
    border-radius: 10px;
	color : #99ecff;
	text-align: center;
}

.commandes h3 {
	color : white;
	font-family: DS-DIGIB;
	margin : 2px;
	font-size : 30px;
}

.commandes h4 {
	font-family: DS-DIGIB;
	margin : 2px;
	font-size : 30px;
	display: inline;
}


#NrgRest {
    font-family: DS-DIGIB;
    background: #01700e;
    border-radius: 10px 0 0 10px;
    display: inline-block;
    font-size: 30px;
    color: white;
    padding: 15px;
}

#NRG {
    background: #01700e;
    font-family: DS-DIGIB;
    border-radius: 0px 10px 10px 0;
    display: inline-block;
    font-size: 30px;
    color: white;
    padding: 15px;
}

#title {
    width: 100%;
    font-family: DS-DIGIB;
    font-size : 50px;
    background: rgb(218, 167, 0);
    color: black;
    text-align: center;
    margin-bottom: 15px;
}